body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 500px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

input[type="text"] {
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.add-btn {
  border: 0;
  width: 100%;
  border-radius: 30px;
  display: inline-block;
  background-color: rgb(55, 121, 129);
  color: #fff;
  font-size: 18px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.add-btn:hover {
  background-color: rgb(1, 182, 206);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  padding: 12px 12px;
  border-radius: 30px;
  color: #fff;
}
.btn.comp {
  cursor: pointer;
  width: 100px;
  background-color: rgb(1, 182, 206);
}

.btn.del {
  cursor: pointer;
  width: 100px;
  background-color: rgb(1, 182, 206);
}

.btn:hover {
  outline: 0;
  background-color: rgb(6, 100, 112);
}

.list {
  list-style-type: none;
  color: rgb(255, 255, 255);
  display: flex;
  padding: 16px 16px;
  border-radius: 4px;
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
}

.inputs {
  outline: none;
  width: 100%;
}
