body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 350px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

/* button {
  display: inline-block;
  width: auto;
  border: 0;
} */

.btn {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  background-color: rgb(1, 182, 206);
  color: #fff;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.btn.comp {
  width: 100px;
  margin: auto 60px;
}

.btn.del {
  width: 100px;

  margin-left: -20px;
}

.btn:hover {
  outline: 0;
  background-color: rgb(6, 100, 112);
}

.list {
  list-style-type: none;
  background-color: cornflowerblue;
  box-shadow: var(--box-shadow);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
}

.form-control {
  display: block;
}
